@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #ffffff;
   position: fixed;
   width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px black;
 
}

.logo {
    padding: 20px;
    flex: 31%;
    text-align: center;
}



.menu {
    flex: 69%;
    text-align: right;
    padding: 20px;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color:#41dd33;
    padding: 16px 20px;
}
 

.menu a:hover {
    color: #39dbff;
    border-top: 2.5px solid #8be1fd;

}

#openModalBtn {
    background: #8be1fd;
    padding: 10px 25px;
    color: #fff;
    border-radius: px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #41dd33;
    transition: 1.0s;
}

header {
    background-image: url(imagem.png);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline {
    flex: 40%;
    margin-left: 10%;


}

h2 {
    padding: 0;
    margin: 0;
}

#texto1 {
    color: #39dbff;
    letter-spacing: 15px;
    padding: 0;

}

#texto2 {
    font-size: 70px;
    padding: 0;
    letter-spacing: 1px;
    color: #41dd33;
    font-family: 'Roboto', sans-serif;
}

.headline p {
    color: rgb(247, 244, 244);
    text-align: left;
}

.imagem {
    flex: 40%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}

#imagemP {
    max-width: 100%;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botao {
    display: inline-block;
    background: #39dbff;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover {
    background: #41dd33;
}
.corpo {
    flex-flow: row wrap;
    display: flex;
    text-align: center;
}
.card iframe{
    display: flex;
    padding: 1%;
    width: 100%;
    height: 100%;
}

.card {
    flex-grow: 1;
 background-image: url(imagem2.jpg);
 background-size: cover;
    height: 300px;
    margin: 1%;
    flex: 48%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-iframe {
    flex-grow: 1;
 background-image: url(imagem2.jpg);
 background-size: cover;
    height: 800px;
    margin: 1%;
    flex: 48%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tabela{
    width: 100%;
    margin: auto;
    padding:5px;
}
.textoTabela{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.horario{   
    border:1px solid #000000;  
    color:#e7f8fc;  
  background-color: rgba(73, 73, 73, 0.219);
    padding:5px; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabela td {
    border:1px solid #000000;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(97, 96, 96, 0.692);
    color:#ffffff 
}
#lista{
    margin-top: 10px;
    text-align: left;
    list-style: none;
}

footer {
    width: 100%;
    color: rgb(0, 0, 0);

}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: rgba(193, 193, 193, 0.974);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(3, 3, 3);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 10px;
}

#footer_subscribe p {
    color: rgb(255, 255, 255);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color:#181818;
    border: none;
    color: rgb(243, 238, 238);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
/* estilo de formulario*/

/* Estilos para o container do formulário */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

